<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iService</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav-admin-up.html' %}
    <div class="container d-flex flex-row mt-3">
        {% include 'nav-admin.html' %}
        <div class="ps-3 pe-3 w-100">
            <div>
                <h3>Service Offer</h3>
            </div>
            <div class="row g-1">
                <div class="col-12 col-md-6">
                    <input id="search-input" type="text" class="form-control form-control-sm" placeholder="Search Here">
                </div>
                <div class="col-12 col-md-6">
                    <button id="add-service" class="btn btn-sm border" data-bs-toggle="modal" data-bs-target="#service-offer" ><i class="bi bi-bookmark-plus me-1"></i>Create Services</button>
                </div>                
            </div>
            <div>
                <table class="table table-hover" style="font-size: 12px;">
                    <thead>
                      <tr>
                        <th scope="col" width="10%">Service ID</th>
                        <th scope="col" width="15%">Media</th>
                        <th scope="col" width="25%">Service Category</th>
                        <th scope="col" width="15%">Job Category</th>
                        <th scope="col" width="20%">Type of Services</th>
                        <th scope="col" width="15%">Action</th>
                      </tr>
                    </thead>
                    <tbody id="table-service-provider">
                      
                    </tbody>
                  </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="service-offer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog mt-5">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bolder" id="exampleModalLabel">Create Services</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="font-size: 12px;">
                            <div class="mb-2">
                                <p class="mb-1">Upload Media:</p>
                                <input type="file" class="form-control form-control-sm">
                            </div>
                            <label class="form-label">Select Service Category</label>
                            <div class="row g-2">
                                <div class="col-8">
                                    <div class="mb-3">
                                        <div class="input-group input-group-sm">
                                            <select class="form-select" id="inputGroupSelect01">
                                                <option selected>Choose...</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <button class="btn border btn-sm w-100 text-start"><i class="bi bi-bookmark-plus"></i> Service Category</button>
                                </div>
                            </div>
                            <label class="form-label">Select Job Category</label>
                            <div class="row g-2 mb-2">
                                <div class="col-8">
                                    <div class="mb-3">
                                        <div class="input-group input-group-sm">
                                            <select class="form-select" id="inputGroupSelect01">
                                                <option selected>Choose...</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <button class="btn border btn-sm w-100 text-start"><i class="bi bi-bookmark-plus"></i> Job Category</button>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm" style="border: 1px solid #FF851B; color:#FF851B; background-color:#f0dcca" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            <button onclick="" type="button" class="btn btn-sm" style="background-color: #FF851B; color: white">Create </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">
                        <li class="page-item" id="prev-page"><a class="page-link text-muted" href="#">Previous</a></li>
                        <ul id="page-numbers" class="pagination pagination-sm"></ul>
                        <li class="page-item" id="next-page"><a class="page-link text-muted" href="#">Next</a></li>
                    </ul>
                </nav>
                
            </div>
        </div>
    </div>
    {% include 'footer_links.html' %}
</body>
</html>

