<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iService</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav-admin-up.html' %}
    <div class="container d-flex flex-row mt-3">
        {% include 'nav-admin.html' %}
        <div class="ps-3 pe-3 w-100">
            <div>
                <h3>Service Provider</h3>
            </div>
            <div class="row g-1">
                <div class="col-12 col-md-6">
                    <input id="search-input" type="text" class="form-control form-control-sm" placeholder="Search Here">
                </div>
                <div class="col-12 col-md-6">
                    <button id="btn-all" class="btn btn-sm border">All</button>
                    <button id="btn-pending" class="btn btn-sm border">Pending</button>
                    <button id="btn-verified" class="btn btn-sm border">Verified</button>
                </div>                
            </div>
            <div>
                <table class="table table-hover" style="font-size: 12px;">
                    <thead>
                      <tr>
                        <th scope="col" width="5%">Register ID</th>
                        <th scope="col" width="10%">Name</th>
                        <th scope="col" width="10%">Date Registered</th>
                        <th scope="col" width="10%">Service</th>
                        <th scope="col" width="10%">Status</th>
                        <th scope="col" width="10%">Valid ID</th>
                        <th scope="col" width="10%">Certification</th>
                      </tr>
                    </thead>
                    <tbody id="table-service-provider">
                      
                    </tbody>
                  </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="service-applicant" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog mt-5">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bolder" id="exampleModalLabel">Service Provider Applicant</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body row" style="font-size: 12px;">
                            <div class="col-8">
                                <div class="row mb-1">
                                    <div class="col-6"><p>Registered ID:</p></div>
                                    <div class="col-6 modal-id-provider"><p id="modal-id"></p></div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-6"><p>Name:</p></div>
                                    <div class="col-6 d-flex flex-row">
                                        <p id="modal-first-name" class="mr-2"></p>
                                        <p id="modal-last-name"></p>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-6"><p>Email:</p></div>
                                    <div class="col-6"><p id="modal-email"></p></div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-6"><p>Contact:</p></div>
                                    <div class="col-6"><p id="modal-contact"></p></div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-6"><p>Address:</p></div>
                                    <div class="col-6"><p id="modal-address"></p></div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-6"><p>Date Created:</p></div>
                                    <div class="col-6"><p id="modal-date-created"></p></div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-6"><p>Status:</p></div>
                                    <div class="col-6"><p id="modal-status"></p></div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-6"><p>Account Role:</p></div>
                                    <div class="col-6"><p id="modal-account-role"></p></div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-6"><p>Account Type:</p></div>
                                    <div class="col-6"><p id="modal-account-type"></p></div>
                                </div>
                            </div>
                            <div class="col-4">
                                <p>Valid ID:</p>
                                <a id="modal-account-valid-id" style="font-size: 50px;" href="#" target="_blank">
                                    <div class="text-muted border p-2 rounded d-flex justify-content-center align-items-center" style="height: 100px">
                                        <i class="bi bi-paperclip"></i>
                                    </div>
                                </a>
                                
                                <p class="mt-3">Certification:</p>
                                <a id="modal-account-certification" style="font-size: 50px;" href="#" target="_blank">
                                    <div class="text-muted border p-2 rounded d-flex justify-content-center align-items-center" style="height: 100px">
                                        <i class="bi bi-paperclip"></i>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        
                        
                        
                        <div class="modal-footer modal-footer-service-provider">
                            <button type="button" class="btn btn-sm" style="border: 1px solid #FF851B; color:#FF851B; background-color:#f0dcca">Decline</button>
                            <button onclick="accept_provider()" type="button" class="btn btn-sm" style="background-color: #FF851B; color: white">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">
                        <li class="page-item" id="prev-page"><a class="page-link text-muted" href="#">Previous</a></li>
                        <ul id="page-numbers" class="pagination pagination-sm"></ul>
                        <li class="page-item" id="next-page"><a class="page-link text-muted" href="#">Next</a></li>
                    </ul>
                </nav>
                
            </div>
        </div>
    </div>
    {% include 'footer_links.html' %}
</body>
</html>

